<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link th:href="@{~/bootstrap.min.css}" rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
<div class="container">
    <table class="table table-striped" style="width: 100%">
        <tr class="row">
            <th class="col-1">Id</th>
            <th class="col-2">Number</th>
            <th class="col-2">Emit date</th>
            <th class="col-2">Due date</th>
            <th class="col-2">Value</th>
            <th class="col-2">Payments</th>
            <th class="col">Action</th>
        </tr>
        <form method="post" th:action="'invoices/addInvoice'">
            <tr class="row" th:object="${newInvoice}">
                <td class="col-1">
                    <input th:field="*{id}">
                </td>
                <td class="col-2">
                    <input th:field="*{number}">
                </td>
                <td class="col-2">
                    <input type="date" th:field="*{emitDate}">
                </td>
                <td class="col-2">
                    <input type="date" th:field="*{scadentDate}">
                </td>

                <td class="col-2">
                    <input th:field="*{value}">
                </td>
                <td class="col">
                    <button class="btn btn-success" type="submit">Add Invoice</button>
                </td>
            </tr>
        </form>
        <tr class="row" th:each="invoice : ${invoices}">
            <td class="col-1" th:text="${invoice.getId()}"></td>
            <td class="col-2" th:text="${invoice.getNumber()}"></td>
            <td class="col-2" th:text="${invoice.getEmitDate()}"></td>
            <td class="col-2" th:text="${invoice.getScadentDate()}"></td>
            <td class="col-2" th:text="${invoice.getValue()}"></td>
            <div class="col-2" th:each="payment: ${invoice.getPayments()}">
                <td th:text="${payment.getId()}"></td>
            </div>
            <td class="col">
                <a methods="get" class="btn btn-primary" type="button"
                   th:href="'invoices/updateInvoice/'+${invoice.getId()}">Update</a>
                <a methods="post" class="btn btn-danger" type="button"
                   th:href="'invoices/deleteInvoice/'+${invoice.getId()}">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>