<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payments</title>
    <link th:href="@{~/bootstrap.min.css}" rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
<div class="container">
    <table class="table table-striped" style="width: 100%">
        <tr class="row">
            <th class="col-1">Id</th>
            <th class="col-2">Type</th>
            <th class="col-2">Date</th>
            <th class="col-2">Value</th>
            <th class="col-2">Invoice</th>
            <th class="col">Action</th>
        </tr>
        <form method="post" th:action="'payments/addPayment'">
            <tr class="row" th:object="${newPayment}">
                <td class="col-1">
                    <input th:field="*{id}">
                </td>
                <td class="col-2">
                    <input th:field="*{type}">
                </td>
                <td class="col-2">
                    <input type="date" th:field="*{date}">
                </td>
                <td class="col-2">
                    <input th:field="*{value}">
                </td>
                <td class="col-2">
                    <select items="${invoiceId}" multiple="true" name="invoiceId" id="invoiceId" type="number">
                        <option size="10" th:each="invoice : ${invoices}" th:text="${invoice.getId()}"
                                th:value="${invoice.getId()}"></option>
                    </select>
                </td>
                <td class="col">
                    <button class="btn btn-success" type="submit">Add Payment</button>
                </td>
            </tr>
        </form>
        <tr class="row" th:each="payment : ${payments}">
            <td class="col-1" th:text="${payment.id}"></td>
            <td class="col-2" th:text="${payment.type}"></td>
            <td class="col-2" th:text="${payment.date}"></td>
            <td class="col-2" th:text="${payment.value}"></td>
            <td class="col-2">
                <div th:each="invoice : ${payment.getInvoices()}">
                    <span th:text="${invoice.getId()}"></span>
                </div>
            </td>

            <td class="col">
                <a methods="get" class="btn btn-primary" type="button"
                   th:href="'payments/updatePayment/'+${payment.getId()}">Update</a>
                <a methods="post" class="btn btn-danger" type="button"
                   th:href="'payments/deletePayment/'+${payment.getId()}">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>